<footer class=" footer">
  <div class=" container-fluid">
    <ul class=" nav">
      <li class=" nav-item">
        <a class=" nav-link" href="https://smartexweb.kz/" target="_blank">
          SMARTEXWEB
        </a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href="https://laravel.smartexweb.kz/" target="_blank">
          LARAVEL
        </a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href="https://vue.smartexweb.kz/" target="_blank"> VUE </a>
      </li>
    </ul>
    <div class=" copyright">
      {{ test | date: "yyyy" }} - &copy;
      <a href="https://smartexweb.kz/" target="_blank"> SMARTEXWEB </a>
    </div>
  </div>
</footer>
