<div class=" content">
  <div class="container">

    <div class="row justify-content-around">

      <ngb-carousel>
        <ng-template ngbSlide>
          <div class="img-block">
            <img src="assets/images/hero-img.png" alt="Slide-1">
          </div>
          <div class="carousel-caption">
            <h3>Компания <span>Smartexweb</span></h3>
            <p class="text-uppercase">СОЗДАЙТЕ ВАШ ВЫДАЮЩИЙСЯ WEB-САЙТ С КОМПАНИЕЙ "SMARTEXWEB"</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="img-block">
            <img src="assets/images/hero-img.png" alt="Slide-2">
          </div>
          <div class="carousel-caption">
            <h3>Компания <span>Smartexweb</span></h3>
            <p class="text-uppercase">Мы поможем Вам разобраться в огромном океане WEB - индустрии</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="img-block">
            <img src="assets/images/hero-img.png" alt="Slide-3">
          </div>
          <div class="carousel-caption">
            <h3>Компания <span>Smartexweb</span></h3>
            <p class="text-uppercase">МЫ СОЗДАДИМ ДЛЯ ВАС ПРЕКРАСНЫЙ САЙТ</p>
          </div>
        </ng-template>
      </ngb-carousel>

    </div><!-- row -->

    <div class="row justify-content-around mt-3">
      <h1 class="fw-bold mb-3">
        Welcome to SMARTEXWEB
      </h1>
    </div><!-- row -->

    <div class="row justify-content-around">
      <p class="">
        Современные WEB - технологии идеально подходят для всех, <br>кто хочет создать захватывающий сайт!
        <br>Посмотрите наш сайт на Laravel
        <a
          href="https://laravel.smartexweb.kz/"
          target="_blank"
        >SMARTEXWEB-Laravel</a>
      </p>
    </div><!-- row -->

  </div><!-- container -->
</div><!-- content -->
